
<div class="panel panel-red">
	<div class="panel-heading">
		ArtNet Activity
	</div>
	<div class="panel-body">
			Recieved packets <span><div ng-repeat="(key, val) in artnetcounter"><span>{{ key }} <b>{{ val }}</b></span></div></span>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		ATEM Status
		<div class="pull-right"><i class="fa text-green" ng-class="atemstatus == 'Connected' ? 'fa-circle' : 'fa-circle-o'"></i></div>
	</div>
	<div class="panel-body">
		<span>{{ atemstatus }}</span>
		<table class="table">
			<tr>
					<th ng-repeat="(key, value) in atemio">{{ key }}</th>
			</tr>
			<tr>
					<td ng-repeat="(key, value) in atemio">{{ value }}</td>
			</tr>
		</table>
	</div>
</div>
