
<div class="panel panel-red">
	<div class="panel-heading">
		ArtNet Activity
	</div>
	<div class="panel-body">
		Recieved packets <span id="artnetcounter">0</span>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		ATEM Status
	</div>
	<div class="panel-body">
		<span id="atemconnected">Disconnected</span>
		<table class="table">
			<tr>
				<th>PGM</th>
				<th>AUX1</th>
				<th>AUX2</th>
			</tr>
			<tr>
				<td id="atem_pgm">?</td>
				<td id="atem_aux1">?</td>
				<td id="atem_aux2">?</td>
			</tr>
		</table>
	</div>
</div>
